<section class="contribute">
    <script type="text/javascript"> 
      function toggle() {
        var con = document.getElementById("contribute");
        if (con.style.display == "none") {
          con.style.display = "block";
        } else {
          con.style.display = "none";
        }
      }
    </script> 
    <blockquote style="background-color:#F5F5F5; padding: 10px 10px 20px 10px; margin:0px" >
    	<p>如果觉得我的文章对您有用，请随意打赏。您的支持将鼓励我继续创作!</p>
      <a class="btn-border-small" onclick="toggle()" >¥ 打赏支持</a>
      <div id="contribute" style="display:none;">
        <p align="center" >
        <img src="/assets/images/wechat.png" alt="微信">
        <img src="/assets/images/alipay.png" alt="支付宝">
        </p>
      </div>
    </blockquote>
</section>
